/* Basic Style */
.body-wrapper {
  background-color: #f8f8f8;
  color: #333;
  font-family: "Lato", sans-serif;
}
.more-info {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.more-info__image {
  width: 100%;
}
.more-info__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .more-info { text-align: center;
}
}
.application__wrapper {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.application__task-input,.application__task-label {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}
.application__task-row-wrapper {
  display: flex;
}
.application__tasks-list {
  margin:0;
  padding: 0px;
}
.application__tasks-list-item,.application__title {
  list-style:none;
}
.application__task-input,.application__btn{
  outline:none;
}
.application__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}
.application__btn:hover {
  color: #3a3a3a;
}
/* Heading */
.application__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.application__task-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  color: #888;
}
.application__task-input:focus {
  color: #333;
}

/* New Task */
.application__append-label {
  display: block;
  margin: 0 0 20px;
}
input#new-task {
  width: 318px;
}

/* Task list */
.application__tasks-list-item,.application__tasks-list-item__redactored {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.application__checkbox,.application__task-label,.application__task-input,.application__btn {
  vertical-align: middle;
}

.application__checkbox {
  margin: 0 10px;
}
.application__task-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.application__task-input {
  width: 226px
}
.application__delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.application__delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.application__tasks-done-list .application__task-label {
  text-decoration: line-through
  color: #888;
}

/* Edit Task */
.application__tasks-list .application__tasks-list-item .application__task-input {
  display:none
}

.application__tasks-list .application__tasks-list-item_edited .application__task-input {
  display:inline-block;
  width:224px
}

.application__tasks-list .application__tasks-list-item_edited .application__task-label {
  display:none;
}